<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel = "tests" thread-count="5">
<listeners>
        <listener class-name="resource.testNgExtentListener"/>
    </listeners>
    <test name="testing" parallel = "classes">
        <parameter name = "browser" value = "chrome"/>
        <classes>
            <class name= "Registering_User"/>
            <class name= "Login"/>
            <class name= "LoginSave"/>
            <class name= "Search"/>
            <class name= "Booking"/>
        </classes>
    </test>



  </suite>

